.header {
    z-index: 999;
    top: 0;
    position: fixed;
    background-color: black;
    height: 100px;
    min-width: 100%;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    height: 107px;
}

.ul {
    list-style: none;
}

.ul-flex {
    list-style: none;
    display: flex;
    margin: 4px;
}

.li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
}

.li-info {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: white;
    list-style: none;
}

.h3 {
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    color: white;
}

.link {
    list-style: none;
    color: white;
    text-decoration: none;
    margin: 12px;
}

.link-info {
    display: none;
}

.link-flex {
    list-style: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.link-flex-mark {
    list-style: none;
    padding: 5px;
    color: gold;
    text-decoration: none;
}

.link-flex-responsive {
    list-style: none;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.link-phone {
    list-style: none;
    color: white;
    padding: 3px;
    cursor: pointer;
    text-decoration: none;
}

.link-phone:hover {
    color: gold;
}

.link-phone-mark {
    list-style: none;
    color: gold;
    padding: 3px;
    text-decoration: none;
}

.link:hover {
    color: gold
}

.link-flex:hover {
    color: gold;
}

.dropdown-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  margin-top: 5px;
}

.dropdown-menu-flex {
  list-style: none;
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  top: 100%;
  margin-top: 5px;
}

.drop-down {
    background-color: black;
    color: white;
    width: 54px;
    height: 28px;
}

@media screen and (max-width: 482px) {
    .ul {
        display: none;
    }
}

@media screen and (max-width: 366px) {
    .h3 {
        display: none;
    }

    .flex {
        justify-content: space-around;
        align-items: center;
    }
}