.footer {
    bottom: 0;
    z-index: 999;
    height: 60px;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.authorization {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: white;
}